*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #background{
    color: rgb(170, 255, 0);
} */

#navbarNav li{
    color: white
}

#footer{
    text-align: center;
    margin-top: 160px;
    text-decoration: none;
}

.home{
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 6px;
}